rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // السماح بالقراءة والكتابة لأي شخص في مجموعة products
    match /products/{document=**} {
      allow read, write: if true;
    }

    // قواعد أخرى (تتطلب تسجيل الدخول للوصول لأي وثيقة أخرى)
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}

